html, body, div, h1, figure {
  border: 0;
  margin: 0;
  padding: 0;
  font: inherit;
  background: transparent;
}

h1 {
  text-align: center;
  font-size: 28px;
  font-family: georgia;
  font-weight: bold;
  margin-bottom: 10px;
}

.group:after {
  clear: both;
  display: block;
  content: "";
}

.minesweeper {
  width: 378px;
  margin: auto;
  border: 1px solid black;
}

div {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  margin: auto;
  float: left;
  background-color: #ccc;
}

.hidden:hover {
  cursor: pointer;
  background-color: #eee;
}

.revealed {
  background-color: red;
}
